{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0"}}},
    {jwt, ".*", {git, "https://github.com/artemeff/jwt", {tag, "0.1.0"}}},
    {jiffy, {git, "https://github.com/emqx/jiffy", {tag, "1.0.2"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [pegb_assessment]}
]}.
